.price-card {
  &__options-list {
    margin-top: 40px;
  }

  &__options-line:nth-child(odd) {
    background-color: #2a3438;
  }

  &__options-line {
    display: flex;
    align-items: center;
    width: 380px;
    height: 50px;

    & span {
      margin-left: 22px;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__options-img {
    content: "";
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    margin-left: 22px;
  }
}
.symbol_green {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png");
}
.symbol_blue {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png");
}
.symbol_orange {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png");
}
